<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.condroid" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ConDroid</name>
    <description>
        An application to do some basic network testing on the Narrowband and LTE-M networks.
    </description>
    <author email="isa.sand@teliacompany.com" href="#">
        Division X Device Team 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="APP_SECRET" value="b124e9e7-f6e1-4167-9521-84c3e5a17d1f" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-device-mrdo" spec="^1.1.3" />
    <plugin name="cordova-plugin-bluetooth-serial" spec="^0.4.7" />
    <plugin name="cordova-plugin-x-toast" spec="^2.7.2" />
    <plugin name="cordova-plugin-context-menu" spec="^0.1.1" />
    <plugin name="cordova-plugin-listpicker" spec="^2.2.2" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
